{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 80,
	"svelteSortOrder": "scripts-markup-options-styles",
	"svelteBracketNewLine": true,
	"svelteIndentScriptAndStyle": true,
	"plugins": ["prettier-plugin-svelte"]
}
