@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #09070d;
	--foreground: 210 40% 98%;

	--muted: #121019;
	--muted-foreground: #94a3b8;

	--popover: 222.2 84% 4.9%;
	--popover-foreground: 210 40% 98%;

	--card: 222.2 84% 4.9%;
	--card-foreground: 210 40% 98%;

	--border: 217.2 32.6% 17.5%;
	--input: 217.2 32.6% 17.5%;

	--primary: 45 93% 47%;
	--primary-foreground: 222.2 47.4% 11.2%;

	--secondary: 217.2 32.6% 17.5%;
	--secondary-foreground: 210 40% 98%;

	--accent: 217.2 32.6% 17.5%;
	--accent-foreground: 210 40% 98%;

	--destructive: 0 84% 43%;
	--destructive-foreground: 0 85.7% 97.3%;

	--success: 121 68% 44%;
	--success-foreground: 121 69.7% 73.3%;

	--warning-light: 53 98.3% 76.9%;
	--warning-dark: 45 93.4% 47.5%;

	--ring: 217.2 32.6% 17.5%;

	--monochrome-color: 0 0% 100%;
}
